@model IEnumerable<GoogleDrive.Models.GoogleDriveFiles>
@{
    ViewBag.Title = "NgheNhac";
    var url = ViewBag.url;
}

<h2>Nghe nhac</h2>


<iframe src="@url/preview" width="350" height="150"></iframe>

