.content-page {

    .tournament-leaderboard {

    }

    .table-leaderboard-athletic{
        text-align: left;
    }
}

.image_country {
    margin: 0 auto;
    width: 26px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
